{% extends 'products/base.html' %}
{% load static %}
{% block title %}
<title>List</title>
<style>
    .control_bar{
        margin-right: 3vh;
        padding: 1vh;
        float: left;
        display: flex;
    }
    .control_bar div{
        margin: 1vh;
    }
</style>
{% endblock %}
{% block body %}

    <div class="control_bar">
        <div>
            <h1>Email: <b> {{ user.email }}</b></h1>
            <h2>Name: <i> {{ user.first_name }}</i></h2>
            <h2>Surname: <i> {{ user.last_name }}</i></h2>
            <img src="{{ user.profile.image.url }}" alt="Profile Picture" width="350px"/>
            <h2>Bio: <i> {{ user.profile.bio }}</i></h2>
            <h2>Phone: <i> {{ user.profile.phone }}</i></h2>
            <h2><a href="{% url 'products:home_page' %}" class="btn btn-secondary">Back</a></h2>
            <h2><a href="{% url 'users:reset_password' %}" class="btn btn-primary">Change Password</a></h2>
            <h2><a href="{% url 'profile_info:profile' %}" class="btn btn-primary">Change Profile</a></h2>
            <h2><a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a></h2>
        </div>
    </div>

{% endblock %}