{% extends 'users/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block body %}

    <b><h1>Register</h1></b>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" class="btn btn-success">
        <a href="{% url 'users:login' %}" class="btn btn-primary m-2">Login</a>
        <a href="{% url 'users:google_login' %}" class="btn btn-warning m-2">Google</a>
        <a href="{% url 'users:reset_password' %}" class="btn btn-secondary m-2">Reset Password</a>
    </form>

{% endblock %}