{% extends 'order/base.html' %}
{% block title %}
<title>Create</title>
<style>
    .form{
        width: 100%;
        padding: 1vh;
    }
    .block{
        width: 300px;
        height: 200px;
    }
    .block h1{
        width: 300px;
        height: 100px;
        overflow: hidden;
        position: relative;
    }
</style>
{% endblock %}
{% block body %}

<div class="form" style="display: grid;grid-template-columns: repeat(4, 1fr);">
    {% for i in products%}
        <div style="border: 1px solid black; width: 400px; display: grid; justify-content: center;">
            <a href="{% url 'order:add_to_order' i.id %}" style="margin: 1vh;">
                <button type="submit">
                    <div class="block">
                        <h1>
                            {{i.name}}
                        </h1>
                        <h3>
                            {{i.price}}
                        </h3>
                    </div>
                </button>
            </a>
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% for o in orders %}
                        {% if o.product_id == i %}
                        {% if o == 1 %}
                        <li class="page-item disabled"><a class="page-link" href="{% url 'order:substract_to_order' i.id %}">-</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'order:substract_to_order' i.id %}">-</a></li>
                        {% endif %}
                        {% endif %}
                        {% empty %}

                        {% endfor %}
                        {% for o in orders %}
                        {% if o.product_id == i %}
                        <b class="btn btn-danger">
                            {{ o.count }}
                        </b>
                        {% endif %}
                        {% empty %}

                        {% endfor %}
                        {% for o in orders %}
                        {% if o.product_id == i %}
                        <li class="page-item"><a class="page-link" href="{% url 'order:add_to_order' i.id %}">+</a></li>
                        {% endif %}
                        {% empty %}

                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}